.container {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    height: 230px;
    width: 180px;
    padding: 5px;
    border: 2px solid teal;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    
    &:hover {
        // .tags {
        //     height: min-content;
        // }
        z-index: 1;
        min-height: 230px;
        height: min-content;
        background-color: white;
        overflow-wrap: break-word;
        cursor: default;
        box-shadow: 0 0 5px teal;
    }
}
.hide {
    display: none;
}