* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.container {
    display: flex;
    background-color: teal;
    color: orange;
    width: 100%;
}
.logo {
    padding: 18px;
    font-size: 20px;
    &:hover {
        cursor: default;
    }
}