* {
  margin: 0;
  padding: 0;
}
.app-container {
  display: flex;
  flex-direction: column;
}
.header-container {
  width: 90vw;
  align-self: center;
  margin-top: 5px;
}
.add-note-btn {
  align-self: center;
}
.note-container {
  align-self: center;
}
